body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("980-index.jpg");
}
* {
    box-sizing: border-box;
    margin: 0;
}
.nav {
    background-color: #4aaaa5
}
.logo {
  font-size: 28px;
}
footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
  }
  html,
body {
  height: 100%;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}

footer,
.push {
  height: 105px;
}
